# Disable Directory Listing globally (protects assets, config, etc)
Options -Indexes

# Security Headers
<IfModule mod_headers.c>
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Content-Type-Options "nosniff"
</IfModule>

# SPA Routing (Rewrite all non-file/non-dir requests to index.html)
<IfModule mod_rewrite.c>
  RewriteEngine On

  # Don't rewrite files or directories that exist
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l

  # Rewrite everything else to index.html in the current directory
  RewriteRule ^ index.html [L]
</IfModule>
